.filterTags {
  width: 264px;
  height: fit-content;

  border: 1px solid var(--purple-color);
  border-radius: 18px;
  padding: 12px;
}

.filterTagsItem {
  font-size: 18px;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;

  &Active {
    background-color: var(--green-color);
    color: var(--white-color);
  }
}